{% extends 'base.html' %}
{% block title %}Delete Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<a class="btn btn-outline-secondary btn-sm" href="{% url 'profile' user.username %}"><i class="fas fa-chevron-circle-left"></i>Back</a><br><br>
{% if snipet.user.username == user.username %}


<!-- <a class="btn btn-outline-secondary btn-sm" href="{% url 'profile' user.username %}"><i class="fas fa-chevron-circle-left"></i>Back</a><br><br>
<div id="delete" >
<img src="{{ snipet.img.url }}" alt="Image" id='nkar' class="img-fluid">
	<h3><strong>{{ snipet.blogname }}</strong></h3>
	
	<p>{{ snipet.blogauth }}</p>
	<p>{{ snipet.blogdes }}</p>
	<a href="{% url 'delete' snipet.user.username snipet.id %}" class="btn btn-danger btn-bg">Delete</a> -->

<div id="delete" >

	<div class="card" style="width: 13rem;">
  <img src="{{ snipet.img.url }}" class="card-img-top" alt="Image">
  <div class="card-body">
    <h5 class="card-title">{{ snipet.blogname }}</h5>
     <h5 class="card-title">{{ snipet.blogauth }}</h5>
    <p class="card-text">{{ snipet.blogdes }}</p>
    
   
    
  </div>
  <form method="post">
  	{% csrf_token %}
      <button id='dilit' type="submit" class="btn btn-danger" >Delete Post</button>
      </form>
</div>
{% else %}
<h2 id="str" style="color: red"><strong>You can Delete only your Posts</strong></h2>
		<br>

	
{% endif %}
{% else %}
<h2 id="str" style="color: red"><strong>Login or Register</strong></h2>
		<br>
{% endif %}
</div>

{% endblock %}
