{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if snipet.user.username == user.username %}

<a class="btn btn-outline-secondary btn-sm" href="{% url 'profile' user.username %}"><i class="fas fa-chevron-circle-left"></i>Back</a><br><br>

<img src="{{ snipet.img.url }}" alt="Image" id='nkar' class="img-fluid">
	<h3><strong>{{ snipet.blogname }}</strong></h3>
	
	<p>{{ snipet.blogauth }}</p>
	<p>{{ snipet.blogdes }}</p>
	<a href="{% url 'delete' snipet.user.username snipet.id %}" class="btn btn-danger btn-sm">Delete</a>
	<a href="{% url 'update' snipet.user.username snipet.id %}" class="btn btn-warning btn-sm">Edit</a>
	
{% endif %}
{% else %}
<h1><strong>Login or Register</strong></h1>
{% endif %}

{% endblock %}