{% extends 'base.html' %}

{% block content %}


	<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
  	{% if user.is_authenticated %}
    <a class="navbar-brand"><strong>Hello {{ user.username|title }}</strong></a>
    <form class="d-flex">
	<a href="accounts/logout">Logout</a>
	{% else %}
	 <a href="#" class="navbar-brand">Login</a>
	<a href="accounts/register">Register</a> 
	{% endif %}  	
    </form>
  </div>
</nav>	

<p>
	{% if user.is_authenticated %}
	<h3>- - - Your Posts - - -</h3>
	
	{% for snips in snipps %}
	{% if snips.user.username == user.username %}

	<!-- {% if snips.user == None %}
	<h2>{{ user.username|title }} you has no posts</h2>
	{% endif %} -->

	<img src="{{ snips.img.url }}" alt="Image" id='nkar' class="img-fluid">
	<h3 class="font-size-regular"><a href="{{ snips.id }}">{{ snips.blogname }}</a></h3>
	<h4>{{ snips.user }}</h4>
	<p>{{ snips.blogdes }}</p>
	<!-- <a href="{% url 'detail' snips.user.username snips.id %}" class="btn btn-danger btn-sm">Learn More</a>
	 -->
	
	{% endif %}
	{% endfor %}
	{% else %}
	<br>
	<h3><strong>Register/Login to know more</strong></h3>
	{% endif %}


</p>




{% endblock %}